.article {
    width: 96.7%;
    margin-top: 20px;
    height: max-content;
    background-color: #406882;
}

.film-category-header {
    width: 97%;
}

.film-category-container {
    width: 97%;
    grid-template-columns: repeat(var(--amountOfCol_category), 1fr);
}

.page {
    width: 450px;
    height: 40px;
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
    font-size: 20px;
    color: #f5f5f5;
    cursor: pointer;
}

.number-page {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1.78px solid #1A374D;
    border-radius: 5px;
    transition: all 0.25s linear;
}

.number-page:hover {
    background-color: #36586e;
}

.page-sentence {
    background-color: #1A374D;
}

.dot {
    border: none;
}

.page-icon {
    line-height: 53px;
    margin: auto 0;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: all 0.25s linear;
}

.icon-right {
    transform: rotate(180deg);
}

.page svg {
    fill: #1A374D;
}

.page-icon:hover {
    fill: #1f425c;
}



@media only screen and (min-width: 51.875em) and (max-width: 62.5em) {
    .film-category-container {
        --amountOfCol_category: 5;
    }
}


@media only screen and (min-width: 38.125em) and (max-width: 52em) {
    .film-category-container {
        --amountOfCol_category: 4;
    }
}

@media only screen and (min-width: 30em) and (max-width: 38.126em) {
    .film-category-container {
        --amountOfCol_category: 3;
    }
}

@media only screen and (max-width: 29.89em) {
    .film-category-container {
        --amountOfCol_category: 2;
    }
}

@media only screen and (min-width: 62.5em) {
    .film-category-container {
        --amountOfCol_category: 2;
    }
}