.article-container{
    height: max-content;
    background-color:#406882;
}

.film-detail{
    width: 770px;
    height: max-content;
    background-color: #406882;
    padding-top: 10px;
    color: #f5f5f5;
    margin: 0 auto;
}

.film-title-pr{
    display: flex;
    width: 100%;
    height: 90px;
}

.film-detail-bookmark{
    font-size: 60px;
    color: #FFCC1D;
    cursor: pointer;
    padding-right: 10px;
}

.bookmark-icon-detail{

}

.title-pr{
    font-size: 30px;
}

.name-film-pr{
    width: 100%;
    border-bottom: 2px solid #1a374d;
    padding-bottom: 15px;
}

.film-category__epsoide{
    display: flex;
    font-size: 16px;
    padding-top: 15px;
}

.film-epsoide-pr{
    padding-right: 10px;
    border-right: 2px solid #1a374d;
}

.film-category-pr{
    padding-left: 10px;
}

.film-category-pr a:hover{
    filter: brightness(1.2);
}

.film-category-pr>a{
    transition: all 0.18s linear;
    color: #0f1e2b;
    font-weight: 500;
}

.film-img-pr{
    margin-top: 25px;
    border-radius: 3px;
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 350px;
    display: flex;
    position: relative;
    border-radius: 3px;
}

.film-img-pr::before{
    position: absolute;
    display: block;
    content: "";
    background-color: #0f1e2ba8;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 3px;
}

.thumbnail{
    position: absolute;
    margin-top: 30px;
    left: 25px;
    width: 210px;
    height: fit-content;
    object-fit: cover;
}

.thumbnail-film{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px -1px 1.25px rgb(22, 22, 22);
}

.dec{
    position: absolute;
    right: 25px;
    margin-top: 30px;
    width: 500px;
}

.title-dec{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.article-dec{
    text-align: justify;
    line-height: 20px;
}

.name-film-dec{
    font-size: 20px;
    color: #e9e6e6;
    transition: all 0.15s linear;
}

.name-film-dec:hover{
    opacity: 0.8;
}

.dec button{
    border-radius: 3px;
    position: absolute;
    width: max-content;
    padding: 0 10px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 1px rgba(160, 35, 75, 0.514);
    cursor: pointer;
    background: linear-gradient(-45deg, rgba(204,43,94,1), rgba(117,58,136,1));
    background: -webkit-linear-gradient(-45deg, rgba(204,43,94,1), rgba(117,58,136,1));
    color: #f5f5f5;
    font-size: 16px;
    transition: all 0.2s linear;
    bottom: -173px;
}

button:hover{
    filter: brightness(1.2);
}

:root{
    --spacebutton: 5px;
}

.choice-epsoide{
    left: var(--spacebutton);
}

.trailer{
    left: calc( var(--spacebutton) + 100px);
}

.trailer>a{
    color: #f5f5f5;
}

.comment-field{
    background-color:#ccd0d5;
    margin-top: 20px;
    min-height: 80px;
    height: max-content;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 3px;
}

.comment-header{
    width: 98%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    color: #1a374d;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.comment{
    height: fit-content;
    font-size: 18px;
    border-bottom: 2px solid currentColor;
}

select{
    padding: 2px 5px;
    border: 1px solid currentColor;
    font-weight: 500;
}

select:focus{
    outline: none;
}

.comment-container{
    margin-top: 10px;
}

.add-comment{
    width: 98%;
    margin: 0 auto;
}

.avt{
    object-fit: cover;
    width: 50px;
    border-radius: 2px;
    box-shadow: 0 0 1.5px white;
}

textarea{
    height: 50px;
    width: 700px;
    border: 1px #1a374d solid;
    border-radius: 3px;
}

textarea:focus{
    outline: none;
}

.film-category-header{
    margin-top: 40px;
    position: none;
}

.film-category-container{
    padding-bottom: 10px;
}

.trailer-video{
    position: fixed;
    width: 1520px;
    height: 800px;
    top: 0px;
    background-color: #0f1e2b69;
    z-index: 10;
    display: none;
}

.trailer-video>iframe{
    position: absolute;
    display: block;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
} 

textarea{
    resize: none;
}